  .card-m img {
    /* object-fit: cover; */
    width: 250px;
    height: 150px;
    border-radius: 5px;
    
  }

  .flag img {
    /* object-fit: cover; */
    width: 75%;
    
  }
  .head{
    font-size: x-large;
    font-weight: 700;
    height: 50px;
  }
  .filtros{
    height: 100px;
  }
  .dark{
    text-align: end;
    cursor: pointer;
    font-weight: 700;
    padding-right: 5%;
  }
  .darkm{
    text-align: end;
    cursor: pointer;
  }

  .contenedor{
   border: 20px;
  }

  /* .contenedorm{
    border: 20px;
   } */

   .contenedor2{
    display: flex;
    flex-direction: column;
   }
   .flag{
    text-align: start;
   }
   .cbody{
    padding-top: 80px;
   }
   .button{
    padding-left: 10px;
    padding-top: 40px;
   }

  .borde2{
    /* border: 4px whitesmoke solid; */
    width: 250px;
    height: 300px;
    margin-bottom: 20px;
    border-radius: 10.5px;
  }

  .bold{
    font-size: small;
  }

  .text-card{
    height: 10px;
  }

.btn-desplegable1{
  text-align: end;
  padding-right: 5%;
}

.btn-modal{
  width: fit-content;
  border: 2px solid gray;
}

@media (max-width: 576px ){

  .head{
    font-size: 15px;
  }
  .dark{
    font-size: 13px;
    text-align: justify;
    
  }
  .filtros{
    border-top: 20px;
  }
  .searchCountry{
    width: 60%;
  }
  #input-buscar{
   object-fit: contain;
  }
  .btn-desplegable1{
    text-align: start;
  }
  .contenedor{
    padding: 15%;
  }
  .contenedor2{
    padding: 0%;
  }
  .flag img {
    /* object-fit: cover; */
    width: 100%;
    
  }


}